{
    "swagger": "2.0",
    "info": {
        "description": "API с документацией Swagger",
        "title": "country API",
        "contact": {},
        "version": "2.0"
    },
    "host": "hackatonsite.jumpingcrab.com:18000",
    "basePath": "/",
    "paths": {
        "/api/v1/country": {
            "put": {
                "description": "Редактирует страну",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "country"
                ],
                "summary": "Редактирование страны",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Данные страны",
                        "name": "country",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.Update_CountryById_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Update_CountryById_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            },
            "post": {
                "description": "Добавляет страну",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "country"
                ],
                "summary": "Добавление страну",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Данные страны",
                        "name": "country",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.Create_Country_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Create_Country_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            },
            "delete": {
                "description": "Удаляет страну",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "country"
                ],
                "summary": "Удаление страны",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "ID страны",
                        "name": "country",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.Delete_CountryById_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Delete_CountryById_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            }
        },
        "/api/v1/country/{country_id}": {
            "get": {
                "description": "Возвращает страну",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "country"
                ],
                "summary": "Получение страны",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "ID страны",
                        "name": "country_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Get_CountryById_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            }
        },
        "/api/v2/country": {
            "post": {
                "description": "Возвращает страны",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "country"
                ],
                "summary": "Получение стран",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Filter,Pagination,Sort",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.Get_All_Country_Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Get_All_Country_Response"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            }
        },
        "/auth": {
            "post": {
                "description": "Авторизует пользователя",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Авторизация",
                "parameters": [
                    {
                        "description": "Данные пользователя",
                        "name": "auth",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.AuthRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpgin.AuthResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "description": "Регистрирует пользователя",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Регистрирует пользователя",
                "parameters": [
                    {
                        "description": "Данные пользователя",
                        "name": "register",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/httpgin.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": ""
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpgin.Error_Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "httpgin.AuthRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "httpgin.AuthResponse": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        },
        "httpgin.CountryDataRepr": {
            "type": "object",
            "properties": {
                "country_area": {
                    "type": "string"
                },
                "country_capital": {
                    "type": "string"
                },
                "country_title": {
                    "type": "string"
                }
            }
        },
        "httpgin.CountryIDRepr": {
            "type": "object",
            "properties": {
                "country_id": {
                    "type": "integer"
                }
            }
        },
        "httpgin.CountryRepr": {
            "type": "object",
            "properties": {
                "country_area": {
                    "type": "string"
                },
                "country_capital": {
                    "type": "string"
                },
                "country_id": {
                    "type": "integer"
                },
                "country_title": {
                    "type": "string"
                }
            }
        },
        "httpgin.Create_Country_Request": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryDataRepr"
                }
            }
        },
        "httpgin.Create_Country_Response": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryIDRepr"
                }
            }
        },
        "httpgin.Delete_CountryById_Request": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryIDRepr"
                }
            }
        },
        "httpgin.Delete_CountryById_Response": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryDataRepr"
                }
            }
        },
        "httpgin.Error_Response": {
            "type": "object",
            "properties": {
                "data": {},
                "error": {
                    "type": "string"
                }
            }
        },
        "httpgin.FilterRepr": {
            "type": "object",
            "properties": {
                "field": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "httpgin.Get_All_Country_Request": {
            "type": "object",
            "properties": {
                "filter": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/httpgin.FilterRepr"
                    }
                },
                "pagination": {
                    "$ref": "#/definitions/httpgin.PaginationRepr"
                },
                "sort": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/httpgin.SortRepr"
                    }
                }
            }
        },
        "httpgin.Get_All_Country_Response": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/httpgin.CountryRepr"
                    }
                },
                "pagination": {
                    "$ref": "#/definitions/httpgin.PaginationRepr"
                }
            }
        },
        "httpgin.Get_CountryById_Response": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryRepr"
                }
            }
        },
        "httpgin.PaginationRepr": {
            "type": "object",
            "properties": {
                "current": {
                    "type": "integer"
                },
                "limit": {
                    "type": "integer"
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "httpgin.RegisterRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "httpgin.SortRepr": {
            "type": "object",
            "properties": {
                "by": {
                    "type": "string"
                },
                "direction": {
                    "type": "string"
                }
            }
        },
        "httpgin.Update_CountryById_Request": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryRepr"
                }
            }
        },
        "httpgin.Update_CountryById_Response": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/httpgin.CountryDataRepr"
                }
            }
        }
    }
}